n8n/workflows/02_afm_substantial_holdings_ingest.json
{
  "name": "AFM Substantial Holdings Ingest",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Fetch AFM Holdings CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "url": "https://www.afm.nl/export.aspx?type=4d1592ac-6469-46f2-a4f1-0ef8f59f0ca3&format=csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "3",
      "name": "Read CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "data"
      }
    },
    {
      "id": "4",
      "name": "Set Source Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source",
              "value": "afm_substantial_holdings"
            },
            {
              "name": "source_type",
              "value": "register_export"
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Create Row Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nfunction parseDate(value) {\n  if (!value) return null;\n  const raw = String(value).trim().replace(/\\./g, '-').replace(/\\//g, '-');\n  const parts = raw.split('-');\n  if (parts.length === 3 && parts[2].length === 4) return `${parts[2]}-${parts[1].padStart(2, '0')}-${parts[0].padStart(2, '0')}`;\n  const parsed = new Date(raw);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString().slice(0, 10);\n}\n\nreturn items.map(item => {\n  const j = item.json;\n  const eventDate = parseDate(j['Date of transaction'] || j['Datum']);\n  const capital = j['Capital interest'] || j['Kapitaalbelang'] || '';\n  const voting = j['Voting rights'] || j['Stemrecht'] || '';\n  const disposal = j['Manner of disposal'] || j['Wijze van afbouw'] || '';\n  const key = [j.source, eventDate, j['Issuing institution'] || '', j['Person obliged to notify'] || '', capital, voting, disposal].join('|');\n  j.row_hash = crypto.createHash('md5').update(key).digest('hex');\n  j.event_date = eventDate;\n  j.issuer_name = j['Issuing institution'] || j['Uitgevende instelling'] || null;\n  j.person_name = j['Person obliged to notify'] || j['Meldingsplichtige'] || null;\n  j.title = 'Substantial holding update';\n  j.raw_text = JSON.stringify({ capital_interest: capital, voting_rights: voting, manner_of_disposal: disposal });\n  return { json: j };\n});"
      }
    },
    {
      "id": "6",
      "name": "Upsert Raw Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/raw_events?on_conflict=row_hash",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    },
    {
      "id": "7",
      "name": "Compute Simple Direction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const j = item.json;\n  const disposition = (j['Manner of disposal'] || j['Wijze van afbouw'] || '').toLowerCase();\n  const capital = (j['Capital interest'] || j['Kapitaalbelang'] || '').toLowerCase();\n  const voting = (j['Voting rights'] || j['Stemrecht'] || '').toLowerCase();\n  j.raw_text = `${j.raw_text || ''} ${disposition} capital:${capital} voting:${voting}`;\n\n  if (/(dispose|disposal|reduction|decrease|lower|afname|vermindering)/.test(disposition + ' ' + capital + ' ' + voting)) {\n    j.transaction_direction = 'outflow';\n    j.event_subclass = 'ownership_reduction';\n  } else if (/(increase|higher|toename|stijging)/.test(disposition + ' ' + capital + ' ' + voting)) {\n    j.transaction_direction = 'inflow';\n    j.event_subclass = 'ownership_increase';\n  }\n  return { json: j };\n});"
      }
    },
    {
      "id": "8",
      "name": "Normalize Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "jsCode": "function toNumber(value) {\n  if (value === null || value === undefined || value === '') return null;\n  if (typeof value === 'number') return Number.isFinite(value) ? value : null;\n  const cleaned = String(value)\n    .trim()\n    .replace(/\\s+/g, '')\n    .replace(/\\.(?=\\d{3}(\\D|$))/g, '')\n    .replace(',', '.')\n    .replace(/[^\\d.-]/g, '');\n  const parsed = Number(cleaned);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction parseDate(value) {\n  if (!value) return null;\n  const raw = String(value).trim();\n  if (!raw) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw;\n\n  const normalized = raw.replace(/\\./g, '-').replace(/\\//g, '-');\n  const parts = normalized.split('-').map((part) => part.trim());\n  if (parts.length === 3) {\n    if (parts[0].length === 4) {\n      const [y, m, d] = parts;\n      if (y && m && d) return `${y.padStart(4, '0')}-${m.padStart(2, '0')}-${d.padStart(2, '0')}`;\n    }\n    const [d, m, y] = parts;\n    if (y && m && d) return `${y.padStart(4, '0')}-${m.padStart(2, '0')}-${d.padStart(2, '0')}`;\n  }\n\n  const parsed = new Date(raw);\n  if (!Number.isNaN(parsed.getTime())) {\n    return parsed.toISOString().slice(0, 10);\n  }\n  return null;\n}\n\nfunction normalizeName(value) {\n  if (!value) return null;\n  return String(value)\n    .trim()\n    .replace(/\\s+/g, ' ')\n    .replace(/\\bN\\.V\\.\\b/gi, 'NV')\n    .replace(/\\bB\\.V\\.\\b/gi, 'BV')\n    .replace(/^\\W+|\\W+$/g, '') || null;\n}\n\nfunction inferEventClass(source, title = '', rawText = '') {\n  const haystack = `${title} ${rawText}`.toLowerCase();\n\n  if (source === 'afm_mar19') return { eventClass: 'insider_transaction', eventSubclass: inferTransactionSubclass(haystack) };\n  if (source === 'afm_substantial_holdings') return { eventClass: 'ownership_shift', eventSubclass: inferOwnershipSubclass(haystack) };\n  if (source === 'euronext_news') return { eventClass: inferNewsClass(haystack), eventSubclass: inferNewsSubclass(haystack) };\n  if (source === 'afm_inside_information') return { eventClass: 'inside_information', eventSubclass: inferNewsSubclass(haystack) };\n  if (source === 'exa_private_liquidity') return { eventClass: 'private_liquidity', eventSubclass: inferNewsSubclass(haystack) };\n  return { eventClass: 'unknown', eventSubclass: 'unknown' };\n}\n\nfunction inferTransactionSubclass(text) {\n  if (/(vervreemding|verkoop|sale|disposal|sold|afbouw)/.test(text)) return 'sale_or_disposal';\n  if (/(verwerving|acquisition|purchase|koop)/.test(text)) return 'acquisition';\n  if (/(uitoefening|omwisseling|exercise|conversion)/.test(text)) return 'exercise_or_conversion';\n  if (/(grant|award|toekenning)/.test(text)) return 'grant_or_award';\n  return 'other';\n}\n\nfunction inferOwnershipSubclass(text) {\n  if (/(disposal|reduction|decrease|lower|afname|vermindering|below|onderschrijding)/.test(text)) return 'ownership_reduction';\n  if (/(acquisition|increase|higher|stijging|toename|boven)/.test(text)) return 'ownership_increase';\n  return 'ownership_change';\n}\n\nfunction inferNewsClass(text) {\n  if (text.includes('major shareholding')) return 'ownership_shift';\n  if (text.includes('mandatory notification of trade')) return 'insider_transaction';\n  if (/(merger|acquisition|takeover|transfer|placement|secondary|block trade)/.test(text)) return 'corporate_transaction';\n  return 'news_event';\n}\n\nfunction inferNewsSubclass(text) {\n  if (text.includes('secondary')) return 'secondary_sale';\n  if (text.includes('block trade')) return 'block_trade';\n  if (text.includes('placement')) return 'placement';\n  if (text.includes('takeover')) return 'takeover';\n  if (text.includes('merger')) return 'merger';\n  if (text.includes('acquisition')) return 'acquisition';\n  if (text.includes('shareholding')) return 'shareholding_notification';\n  return 'other';\n}\n\nfunction inferDirection(text = '') {\n  const haystack = text.toLowerCase();\n  if (/(sale|verkoop|disposal|vervreemding|reduction|decrease|afname|vermindering|sold|exit)/.test(haystack)) return 'outflow';\n  if (/(acquisition|purchase|verwerving|increase|toename|buy|invest)/.test(haystack)) return 'inflow';\n  return 'unknown';\n}\n\nconst input = items.map((item) => item.json);\n\nreturn input.map((row) => {\n  const source = row.source || 'unknown';\n  const issuer = normalizeName(row.issuer_name || row['Uitgevende instelling'] || row['Issuing institution'] || row.issuer || row.company);\n  const person = normalizeName(row.person_name || row['Meldingsplichtige'] || row['Person obliged to notify'] || row.notifiable);\n  const title = row.title || '';\n  const rawText = row.raw_text || row.body || row.description || '';\n  const roleTitle = row.role_title || row['Positie'] || row.position || null;\n  const price = toNumber(row.price || row['Prijs'] || row.transaction_price);\n  const quantity = toNumber(row.quantity || row['Aantal'] || row.transaction_quantity);\n  const estimatedValue = row.estimated_value !== undefined && row.estimated_value !== null\n    ? toNumber(row.estimated_value)\n    : (price !== null && quantity !== null ? Number((price * quantity).toFixed(2)) : null);\n  const inferred = inferEventClass(source, title, rawText);\n  const direction = row.transaction_direction || inferDirection(`${title} ${rawText} ${row.transaction_type || ''} ${row.transaction_category || ''}`);\n\n  return {\n    json: {\n      raw_event_id: row.id || row.raw_event_id || null,\n      issuer_name_normalized: issuer,\n      person_name_normalized: person,\n      event_date: parseDate(row.event_date || row['Transactie'] || row['Date of transaction']) || null,\n      source,\n      event_class: row.event_class || inferred.eventClass,\n      event_subclass: row.event_subclass || inferred.eventSubclass,\n      transaction_direction: direction,\n      price,\n      quantity,\n      currency: row.currency || row['Eenheid'] || row.unit || null,\n      estimated_value: estimatedValue,\n      role_title: roleTitle,\n      detail_status: row.detail_status || 'normalized',\n      source_url: row.detail_url || row.source_url || null,\n      raw_summary: rawText ? String(rawText).slice(0, 1200) : title || null,\n    }\n  };\n});\n"
      }
    },
    {
      "id": "9",
      "name": "Insert Normalized",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/normalized_events?on_conflict=raw_event_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch AFM Holdings CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AFM Holdings CSV": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "Set Source Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Source Fields": {
      "main": [
        [
          {
            "node": "Create Row Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Row Hash": {
      "main": [
        [
          {
            "node": "Upsert Raw Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Raw Events": {
      "main": [
        [
          {
            "node": "Compute Simple Direction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Simple Direction": {
      "main": [
        [
          {
            "node": "Normalize Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Events": {
      "main": [
        [
          {
            "node": "Insert Normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "afm_substantial_holdings_ingest"
}
