n8n/workflows/04_scoring_and_clustering.json
{
  "name": "Scoring and Clustering",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Fetch Recent Normalized",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/normalized_events?select=*&event_date=gte.{{$now.minus({days: 120}).toISODate()}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Score Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "jsCode": "function text(value) {\n  return (value || '').toString().toLowerCase();\n}\n\nfunction includesAny(haystack, needles) {\n  return needles.some((needle) => haystack.includes(needle));\n}\n\nfunction isInstitutionalHolder(personName = '', rawSummary = '') {\n  const haystack = `${personName} ${rawSummary}`.toLowerCase();\n  const institutions = [\n    'blackrock',\n    'norges bank',\n    'ubs',\n    'goldman sachs',\n    'barclays',\n    'state street',\n    'jpmorgan',\n    'morgan stanley',\n    'bank of america',\n    'legal & general',\n    'allianz',\n    'fidelity'\n  ];\n  return includesAny(haystack, institutions);\n}\n\nreturn items.map((item) => {\n  const row = item.json;\n  const summary = text(row.raw_summary);\n  const subclass = text(row.event_subclass);\n  const direction = text(row.transaction_direction);\n  const person = text(row.person_name_normalized);\n  const role = text(row.role_title);\n  const estimatedValue = Number(row.estimated_value || 0);\n\n  let ruleScore = 0;\n  let liquidityScore = 0;\n  let confidenceScore = 1;\n  let keepFlag = false;\n  let rejectionReason = null;\n  const reasons = [];\n\n  if (row.source === 'afm_mar19') {\n    if (subclass === 'sale_or_disposal' || direction === 'outflow') {\n      ruleScore += 3;\n      reasons.push('mar19 sale_or_disposal');\n    } else if (subclass === 'exercise_or_conversion') {\n      ruleScore -= 2;\n      reasons.push('technical exercise_or_conversion');\n    } else if (subclass === 'grant_or_award') {\n      ruleScore -= 3;\n      reasons.push('grant_or_award');\n    } else {\n      ruleScore += 1;\n      reasons.push('mar19 weak trigger');\n    }\n  }\n\n  if (row.source === 'afm_substantial_holdings') {\n    if (subclass === 'ownership_reduction' || direction === 'outflow') {\n      ruleScore += 4;\n      reasons.push('ownership reduction');\n    } else {\n      ruleScore += 2;\n      reasons.push('ownership change');\n    }\n  }\n\n  if (row.source === 'euronext_news') {\n    if (includesAny(summary, ['major shareholding', 'mandatory notification of trade'])) {\n      ruleScore += 3;\n      reasons.push('euronext core topic');\n    }\n    if (includesAny(summary, ['merger', 'acquisition', 'takeover', 'secondary', 'block trade', 'placement', 'transfer'])) {\n      ruleScore += 2;\n      reasons.push('euronext transaction context');\n    }\n  }\n\n  if (row.source === 'exa_private_liquidity') {\n    if (includesAny(summary, ['sold stake', 'exit', 'management buyout', 'secondary sale', 'dividend recap', 'partial exit'])) {\n      ruleScore += 3;\n      reasons.push('private liquidity signal');\n    } else {\n      ruleScore += 1;\n      reasons.push('weak private signal');\n    }\n  }\n\n  if (estimatedValue > 1000000) {\n    liquidityScore += 1;\n    reasons.push('estimated value above 1m');\n  }\n\n  if (estimatedValue > 5000000) {\n    liquidityScore += 2;\n    reasons.push('estimated value above 5m');\n  }\n\n  if (includesAny(role, ['chief', 'ceo', 'cfo', 'coo', 'director', 'founder', 'partner', 'bestuurder'])) {\n    confidenceScore += 1;\n    reasons.push('senior role');\n  }\n\n  if (isInstitutionalHolder(person, summary)) {\n    ruleScore -= 4;\n    rejectionReason = 'institutional_holder_noise';\n    reasons.push('institutional holder noise');\n  }\n\n  if (includesAny(summary, ['grant', 'award', 'omwisseling', 'uitoefening']) && !includesAny(summary, ['sale', 'verkoop', 'disposal', 'vervreemding'])) {\n    ruleScore -= 3;\n    rejectionReason = rejectionReason || 'technical_event_only';\n    reasons.push('technical event only');\n  }\n\n  const total = ruleScore + liquidityScore + confidenceScore;\n\n  if (total >= 5 && !rejectionReason) {\n    keepFlag = true;\n  } else {\n    keepFlag = false;\n  }\n\n  return {\n    json: {\n      normalized_event_id: row.id || row.normalized_event_id || null,\n      rule_score: ruleScore,\n      liquidity_score: liquidityScore,\n      confidence_score: confidenceScore,\n      keep_flag: keepFlag,\n      rejection_reason: rejectionReason,\n      explanation: reasons.join('; ')\n    }\n  };\n});\n"
      }
    },
    {
      "id": "4",
      "name": "Insert Scores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/scored_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    },
    {
      "id": "5",
      "name": "Keep Only Winners",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.keep_flag}}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6",
      "name": "Create Issuer Buckets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "jsCode": "const grouped = new Map();\nfor (const item of items) {\n  const j = item.json;\n  const issuer = j.issuer_name_normalized || j.issuer_name || 'unknown';\n  if (!grouped.has(issuer)) {\n    grouped.set(issuer, {\n      issuer_name: issuer,\n      first_seen: null,\n      last_seen: null,\n      event_count: 0,\n      total_score: 0,\n      top_signal_type: null,\n      best_person_name: null,\n      best_angle: null,\n      supporting_evidence: []\n    });\n  }\n  const bucket = grouped.get(issuer);\n  bucket.event_count += 1;\n  bucket.total_score += Number(j.rule_score || 0) + Number(j.liquidity_score || 0) + Number(j.confidence_score || 0);\n  const eventDate = j.event_date || null;\n  if (!bucket.first_seen || (eventDate && eventDate < bucket.first_seen)) bucket.first_seen = eventDate;\n  if (!bucket.last_seen || (eventDate && eventDate > bucket.last_seen)) bucket.last_seen = eventDate;\n  bucket.top_signal_type = bucket.top_signal_type || j.event_subclass || j.event_class || null;\n  bucket.best_person_name = bucket.best_person_name || j.person_name_normalized || null;\n  bucket.supporting_evidence.push({ source: j.source, subclass: j.event_subclass, explanation: j.explanation, event_date: j.event_date });\n}\nreturn Array.from(grouped.values()).map(v => ({ json: v }));"
      }
    },
    {
      "id": "7",
      "name": "Insert Issuer Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/issuer_opportunities?on_conflict=issuer_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Recent Normalized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Normalized": {
      "main": [
        [
          {
            "node": "Score Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Events": {
      "main": [
        [
          {
            "node": "Insert Scores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Keep Only Winners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Only Winners": {
      "main": [
        [
          {
            "node": "Create Issuer Buckets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Issuer Buckets": {
      "main": [
        [
          {
            "node": "Insert Issuer Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "scoring_and_clustering"
}